.custom-thumb::-webkit-slider-thumb {
  appearance: none;
  background-color: #ffffff;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.copy-icon {
  mask: url("/images/icon-copy.svg") no-repeat center;
  background-color: #a4ffaf;
  width: 21px;
  height: 24px;
  padding: 1rem;
  display: inline-block;
}

.copy-icon:hover {
  background-color: white;
}
